.articles{
	padding: 10px;
	display: flex;
	flex-direction: column;
}

.articles div{
	margin-bottom: 30px;
}
.articles div h3{
	color: darkgray;
	font-size:1.2em;
	line-height: 2em;
	margin-bottom: 5px;
}

.articles div div {
	background-color: black;
	height: 80px;
	width: 80px;
	border:1px solid black;
	margin: 10px;
	float: left;
}
.articles div p{
	color: darkgray;
}
.articles div a{
	text-decoration: none;
	color: orange;
	float: right;
}
@media only screen and (min-width:688px) {
	.articles {
		margin: 0 30px;
	}
}

@media only screen and (min-width:942px) {
	.articles {
		margin: 0px 40px;
	}
}

@media only screen and (min-width:1075px) {
	.articles{
		display:flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		margin-top:-20px;
	}
	.articles div {
		margin: 0px 30px;
	}
}