.hero{
	display: flex;
	flex-direction: column;
	padding: 10px;
	justify-content: space-around;
	align-items: space-between;
	height: 400px;
}

.hero div{
	background-color: lightgray;
	padding: 10px;
	order: 2;
}

.hero div:last-Child{
	display: flex;
	background-color: black;
	width: 100%;
	height: 200px;
	order: 1;
}

.hero div h1{
	color: darkgray;
	font-weight: normal;
	font-size: 2em;
	line-height: .9em;
	font-style: italic;
}
.hero div p{
	color: darkgray;
	padding:15px 0px;
}
.hero div a{ 
	text-decoration: none;
	color: orange;
	float: right;
}