.hero{
	display: flex;
	flex-direction: column;
	padding: 10px;
	justify-content: space-around;
	align-items: space-between;
	height: 400px;
}

.hero div{
	background-color: lightgray;
	padding: 10px;
	order: 2;
}

.hero div:last-Child{
	display: flex;
	background-color: black;
	width: 100%;
	height: 200px;
	order: 1;
}

.hero div h1{
	color: darkgray;
	font-weight: normal;
	font-size: 2em;
	line-height: .9em;
	font-style: italic;
}
.hero div p{
	color: darkgray;
	padding:15px 0px;
}
.hero div a{ 
	text-decoration: none;
	color: orange;
	float: right;
}
@media only screen and (min-width:688px) {
	.hero {
		margin: 0 30px;
	}
}

@media only screen and (min-width:942px) {
	.hero {
		margin: 0px 40px;
	}
	.hero div:last-child{
		height:500px;
		margin-bottom: 20px;
	}
}

@media only screen and (min-width:1075px) {
	.hero{
		display:flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		margin-top: 10px;
	}
	.hero div:last-child{
		height:250px;
		margin-right: 20px;
		margin-bottom: 0;
	}
	.hero div {
		display: flex;
		align-items: flex-start;
		justify-content: center;
		flex-direction: column;
		height: 250px;
		padding: 20px;
	}
	.hero div a {
		align-self: flex-end;
	}
}