.review{
	padding: 10px;
	display: flex;
	flex-direction: column;
}
.review div{
	margin-bottom:20px;
}
.review div div{
	background-color: black;
	width: 40%;
	height: 100px;
	border: 1px solid black;
	margin: 10px;
	float: right;
}
.review div h3{
	color: darkgray;
	margin: 10px 0px;
	font-size:1.2em;
	font-weight:800;
}
.review div p{
	color: darkgray;
}
.review div a{
	text-decoration: none;
	color:orange;
	float: right;
}
@media only screen and (min-width:688px) {
	.review {
		margin: 0 30px;
	}
}

@media only screen and (min-width:942px) {
	.review {
		margin: 0px 40px;
	}
}

@media only screen and (min-width:1075px) {
	.review {
		display:flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		margin-top:30px;
	}
	.review div {
		margin: 0px 30px;
	}
	.review div div {
		width:100%;
	}
}